<%- include("../partials/header.ejs") %>
<div class="container">
<h2>Add your new product</h2>
<form action="/prints" method="POST" enctype="multipart/form-data">
<div class="mb-3">
    <label  class="form-label">Name product</label>
    <input type="text" class="form-control"  name = "print[name]" placeholder ="Name product">
</div>
<div class="mb-3">
    <label class="form-label">Price</label>
    <input type="text" class="form-control"  name = "print[price]" placeholder="Price">
</div>
<div class="mb-3">
    <label class="form-label">Product details</label>
    <textarea type="text" class="form-control"  rows="3" name = "print[detail]"></textarea> 
</div>
<div class="mb-3">
    <label  class="form-label">Image</label>
    <input type="file" class="form-control"  name = "image" accept='image/*'>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a href="/profile">Go back</a>
</form> 
</div>
<%- include("../partials/footer.ejs") %>